src/main/resources/SMSService.wsdl

<wsdl:definitions
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://tempuri.org/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://tempuri.org/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified"
			targetNamespace="http://tempuri.org/">
			<s:element name="sendSMS">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="userID"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="password"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="phoneNo"
							type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="content"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="sendSMSResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="sendSMSResult" type="tns:Result" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="Result">
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="result"
						type="s:int" />
					<s:element minOccurs="0" maxOccurs="1" name="message"
						type="s:string" />
				</s:sequence>
			</s:complexType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="sendSMSSoapIn">
		<wsdl:part name="parameters" element="tns:sendSMS" />
	</wsdl:message>
	<wsdl:message name="sendSMSSoapOut">
		<wsdl:part name="parameters" element="tns:sendSMSResponse" />
	</wsdl:message>
	<wsdl:portType name="SmsServiceSoap">
		<wsdl:operation name="sendSMS">
			<wsdl:input message="tns:sendSMSSoapIn" />
			<wsdl:output message="tns:sendSMSSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SmsServiceSoap"
		type="tns:SmsServiceSoap">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendSMS">
			<soap:operation
				soapAction="http://tempuri.org/sendSMS" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SmsServiceSoap12"
		type="tns:SmsServiceSoap">
		<soap12:binding
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendSMS">
			<soap12:operation
				soapAction="http://tempuri.org/sendSMS" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SmsService">
		<wsdl:port name="SmsServiceSoap"
			binding="tns:SmsServiceSoap">
			<soap:address
				location="http://49.156.52.24:5993/SmsService.asmx" />
		</wsdl:port>
		<wsdl:port name="SmsServiceSoap12"
			binding="tns:SmsServiceSoap12">
			<soap12:address
				location="http://49.156.52.24:5993/SmsService.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>